.input_number {
  height: 28px;
  line-height: 28px;
  width: 38px;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  outline: none;
  padding: 0 5px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.input_number:focus {
  border: 1px solid #108FE9;
}
